:root{
    --border:#815007;
}

body{
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    overflow: auto;
    border-bottom: 2px solid;
    padding:0;
    margin:0;
    background-color: blanchedalmond;
    font-size: 1.3rem;
    border-right: 3px solid var(--border);
}

h1{
    margin:0;
    padding-top:1rem;
    padding-bottom: 1rem;
}
h1,
#navbar li{
    padding-left: 1rem;
    border-bottom: 2px solid var(--border);
}


#navbar ul{
    padding:0;
    margin:0;
}

#navbar li{
    list-style: none;
    padding-top:10px;
    padding-bottom:10px;

}
#navbar a{
    text-decoration: none;
    color: black;

}
#main-doc{
    position: absolute;
    left:303px;
    max-width: 730px;
    margin:1.8rem;
    margin-right:10rem;
}
#main-doc section{
    border-bottom: 2px solid var(--border);
}
#main-doc header{
    text-align: center;
    margin-top: 1em;
    
}
.main-section header{
    font-size: 24px;
    font-weight: 600;
}
#main-doc li{
    margin-bottom: 3px;
}
code{
    font-weight: 600;
    font-family: monospace, monospace;
    background: #eeeeee;
}
pre {
    background-color: #eeeeee;
    tab-size: 4;
    -moz-tab-size:4;
    -o-tab-size: 4;
    overflow-x: auto;
    border-left: solid 0.3rem #3d7e9a;
}
pre u{
    text-decoration: none;
    color:#990055;
}
pre span{
    color:#8a9900;
}
pre i{
    color:#999999;
    font-style: normal;
}

h3{
    display: inline-block;
    font-size: 20px;
    background-color: #333333;
    color: white;
    padding: 0.01em 1em;
}
 
h4{
    font-size: 20px;
}
.diagram{
    text-align:center;
}

.note{
    background-color: #fff3d4;
    padding: 1.5em;
    border-left: solid #f6b73c 0.3rem;
}

article a{
    color:#3d7e9a;
    text-decoration: none;
    position: relative;
}

article a:hover{
    text-decoration-line: underline;
}


@media (max-width:861px){
    #navbar{
        width: 100%;
        position:relative;
        border-left:3px hsl(36, 90%, 27%) solid;
        height: 30vh;
        text-align: center;
    }
    #main-doc{
        left:0;
        margin-left:3px;
        margin-right: 1px;
    }
}
